<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> <!-- For bootstrap -->

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<title>CRM Homepage</title>
</head>
<body>
	<th:block th:if="${!#strings.isEmpty(errorMsg)}">
		<p th:text="${errorMsg}"/>
	</th:block>
	<table class="table">
		<tr>
			<th>Case ID</th>
			<th>Status</th>
			<th>Start Date</th>
			<th>End Date</th>
			<th>Summary</th>
			<th>Assigned Employees</th>
			<th>Actions</th>
		</tr>
		
		<tr th:each="case : ${cases}">
			<td th:text="${case.id}"/>
			<td th:text="${case.casesStatus}"/>
			<td th:text="${case.startDate}"/>
			<td th:text="${case.endDate}"/>
			<td th:text="${case.summary}"/>
			<td><th:block th:each="emp:${case.employee}"><p th:text="${emp.firstName}"/></th:block></td>
			<td>
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#statusModal">Set status</button>
				
				<th:block th:if="${#lists.contains(role, &quot;ROLE_MANAGER&quot;) OR #lists.contains(role, &quot;ROLE_ADMIN&quot;)}">
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addEmployeeModal">Add employee to case (Max 5)</button>
					<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#removeEmployeeModal">Remove employee from case</button>
				</th:block>
				
				<th:block th:if="${#lists.contains(role, &quot;ROLE_ADMIN&quot;)}">
					<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmDeleteModal">Delete case</button>
				</th:block>
				
				<!-- TODO add remove employee modal, select and option sent to consumer in form-->
				<!-- could be useful in future, prev attempted solution with no results https://stackoverflow.com/questions/50464802/how-can-i-populate-value-at-form-inside-modal-using-bootstrap-and-thymeleaf -->
				<div class="modal fade" id="statusModal" tabindex="-1" role="dialog" aria-labelledby="statusModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="statusModalLabel">Set case status</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									 <span aria-hidden="true">&times;</span>
								</button>
							</div>
							
							<div class="modal-body">
							<!-- Model attribute workaround, also cleaner to read -->
								<form action="#" th:action="${listState} == 'all' ? @{/setCaseStatusAll} : (${listState} == 'cus' ? @{/setCaseStatusCus} : @{/setCaseStatusEmp})" th:object="${caseUpdate}" method="post">
									<!-- winrar solution, th:field was overwriting th:value https://stackoverflow.com/questions/27859108/thymeleaf-thvalue-is-ignored-when-using-thfield -->
									<input type="hidden" th:name="caseId" th:id="caseId" th:value="${case.id}"/>
									<select name="caseStatus" th:field="${caseUpdate.status}">
										<option th:each="name : ${T(com.simplerestapiconsumer.enums.CaseStatus).values()}"  th:value="${name}" th:text="${name.displayName}"></option>
									</select>
									<button type="submit" class="btn btn-primary">Save status</button>
								</form>
							</div>
						</div>
					</div>
				</div>
				
				<div class="modal fade" id="addEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="addEmployeeModal" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="addEmployeeModal">Add employee to existing case</h5>
							</div>
							
							<div class="modal-body">
							<p>A maximum of 5 employees is allowed on one case at any time</p>
							<form action="#" th:action="@{/addEmployeeToCaseByID}" th:object="${empToAdd}" method="post">
								<input type="hidden" th:name="caseId" th:id="caseId" th:value="${case.id}"/>
								<input type="text" class="form-control" th:field="*{ID}"/>
								<label th:for="empToAdd.ID" class="form-label">Enter an employee's ID</label>
								<th:block>
									<p th:text="${errorMessage}"/>
								</th:block>
								<button type="submit" class="btn btn-primary">Add employee</button>
							</form>
							</div>
						</div>
					</div>
				</div>
				
				<div class="modal fade" id="removeEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="removeEmployeeModal" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="removeEmployeeModal">Remove employee form existing case</h5>
							</div>
							
							<div class="modal-body">
							<p>A maximum of 5 employees is allowed on one case at any time</p>
							<form action="#" th:action="@{/removeEmployeeByID}" th:object="${empToAdd}" method="get">
								<input type="hidden" th:name="caseId" th:id="caseId" th:value="${case.id}"/>
								<select name="employees" th:field="${empToAdd.ID}" class="form-select">
									<option th:each="name : ${case.employee}"  th:value="${name.id}" th:text="${name.firstName}"></option>
								</select>
								<button type="submit" class="btn btn-primary">Remove employee</button>
							</form>
							</div>
						</div>
					</div>
				</div>
				
				<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModal" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="confirmDeleteModal">Are you sure you want to delete this case? This can not be undone.</h5>
							</div>
							
							<div class="modal-body">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								<a th:href="@{/deleteCase(id=${case.id}, cusID=${case.customer.id})}" class="btn btn-danger">Delete Case</a>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Manager+ add employee to case -->
				
				
			</td>
		</tr>
	</table>
	

	
	<!-- JS imports for boostrap functionality -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>